<!DOCTYPE html>
<html lang="en" class="ace ace-card-on ace-tab-nav-on ace-main-nav-on ace-sidebar-on" data-theme-color="#c0e3e7">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><% if(typeof title != 'undefined') {%><%=title%><% } %>  </title>
      <meta name="description" content="">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
      <!-- Icon Fonts -->
      <link href="/fonts/icomoon/style.css" rel="stylesheet">
      <!-- Styles -->
      <link href="/stylesheets/style.css" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   </head>
   <body>
      <div class="ace-wrapper">
         <header id="ace-header" class="ace-container-shift ace-logo-in ace-head-boxed ace-nav-right">
            <div class="ace-head-inner">
               <div class="ace-head-container ace-container">
                  <div class="ace-head-row">
                     <div id="ace-head-col1" class="ace-head-col text-left">
                        <a id="ace-logo" class="ace-logo" href="/">
                        <img src="/images/uploads/brand/logo.png" alt="ace resume">
                        </a>
                     </div>
                     <div id="ace-head-col2" class="ace-head-col text-right">
                        <div class="ace-nav-container ace-container hidden-sm hidden-xs">
                           <nav id="ace-main-nav">
                              <ul class="clear-list">
                                 <li><a href="index.html">about</a></li>
                                 <li><a href="portfolio.html">portfolio</a>
                                 <li><a href="testimonials.html">references</a></li>
                                 <li><a href="search.html">search</a></li>
                                 <li><a href="category.html">category</a></li>
                                 <li><a href="contact.html">contact</a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                     <div id="ace-head-col3" class="ace-head-col text-right">
                        <button id="ace-sidebar-btn" class="btn btn-icon btn-light btn-shade">
                        <span class="ace-icon ace-icon-side-bar-icon"></span>
                        </button>
                     </div>
                  </div>
               </div>
               <!-- .ace-container -->
            </div>
            <!-- .ace-head-inner -->
         </header> 
         <!-- #ace-card -->
         <div id="ace-content" class="ace-container-shift">
            <div class="ace-container">               