<!DOCTYPE html>
<html lang="en" class="ace ace-card-on ace-tab-nav-on ace-main-nav-on ace-sidebar-on" data-theme-color="#c0e3e7">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%=title%></title>
      <meta name="description" content="">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
      <!-- Icon Fonts -->
      <link href="/fonts/icomoon/style.css" rel="stylesheet">
      <!-- Styles -->
      <link href="/stylesheets/style.css" rel="stylesheet">
   </head>
   <body>
      <div class="ace-wrapper">
         <header id="ace-header" class="ace-container-shift ace-logo-in ace-head-boxed ace-nav-right">
            <div class="ace-head-inner">
               <div class="ace-head-container ace-container">
                  <div class="ace-head-row">
                     <div id="ace-head-col1" class="ace-head-col text-left">
                        <a id="ace-logo" class="ace-logo" href="index.html">
                        <img src="/images/uploads/brand/logo.png" alt="ace resume">
                        </a>
                     </div>
                     <div id="ace-head-col2" class="ace-head-col text-right">
                        <div class="ace-nav-container ace-container hidden-sm hidden-xs">
                           <nav id="ace-main-nav">
                              <ul class="clear-list">
                                 <li><a href="index.html">about</a></li>
                                 <li><a href="portfolio.html">portfolio</a>
                                 <li><a href="testimonials.html">references</a></li>
                                 <li><a href="search.html">search</a></li>
                                 <li><a href="category.html">category</a></li>
                                 <li><a href="contact.html">contact</a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                     <div id="ace-head-col3" class="ace-head-col text-right">
                        <button id="ace-sidebar-btn" class="btn btn-icon btn-light btn-shade">
                        <span class="ace-icon ace-icon-side-bar-icon"></span>
                        </button>
                     </div>
                  </div>
               </div>
               <!-- .ace-container -->
            </div>
            <!-- .ace-head-inner -->
         </header>
         <!-- #ace-header -->
         <nav id="ace-nav-sm" class="ace-nav hidden-lg hidden-md">
            <ul class="clear-list">
               <li>
                  <a href="index.html" data-tooltip="Home"><img class="avatar avatar-42" src="/images/uploads/report.png" width="42" height="42" alt="" ></a>
               </li>
               <li>
                  <a href="experience.html" data-tooltip="Experience"><span class="ace-icon ace-icon-experience"></span></a>
               </li>
               <li>
                  <a href="portfolio.html" data-tooltip="Portfolio"><span class="ace-icon ace-icon-portfolio"></span></a>
               </li>
               <li>
                  <a href="testimonials.html" data-tooltip="References"><span class="ace-icon ace-icon-references"></span></a>
               </li>
               <li>
                  <a href="contact.html" data-tooltip="Contact"><span class="ace-icon ace-icon-contact"></span></a>
               </li>
               <li>
                  <a href="category.html" data-tooltip="Blog"><span class="ace-icon ace-icon-blog"></span></a>
               </li>
            </ul>
         </nav>
         <!-- #ace-tab-nav-sm -->
         <article id="ace-card" class="ace-card bg-primary">
            <div class="ace-card-inner text-center">
               <img class="avatar avatar-195" src="/images/uploads/report.png" width="195" height="195" alt="">
               <h1>Call Status Report</h1>
               <p class="text-muted">Call Status Report</p>
            </div>
            <footer class="ace-card-footer">
               <a class="btn btn-lg btn-block btn-thin btn-upper " href="#">Download Report</a>
            </footer>
         </article>
         <!-- #ace-card -->
         <div id="ace-content" class="ace-container-shift">
            <div class="ace-container">
               <div id="ace-nav-wrap" class="hidden-sm hidden-xs">
                  <div class="ace-nav-cont">
                     <div id="ace-nav-scroll">
                        <nav id="ace-nav" class="ace-nav">
                           <ul class="clear-list">
                              <li>
                                 <a href="index.html" data-tooltip="Home"><img class="avatar avatar-42" src="/images/uploads/report.png" width="42" height="42" alt=""></a>
                              </li>
                              <li>
                                 <a href="experience.html" data-tooltip="Experience"><span class="ace-icon ace-icon-experience"></span></a>
                              </li>
                              <li>
                                 <a href="portfolio.html" data-tooltip="Portfolio"><span class="ace-icon ace-icon-portfolio"></span></a>
                              </li>
                              <li>
                                 <a href="testimonials.html" data-tooltip="References"><span class="ace-icon ace-icon-references"></span></a>
                              </li>
                              <li>
                                 <a href="contact.html" data-tooltip="Contact"><span class="ace-icon ace-icon-contact"></span></a>
                              </li>
                              <li>
                                 <a href="category.html" data-tooltip="Blog"><span class="ace-icon ace-icon-blog"></span></a>
                              </li>
                           </ul>
                        </nav>
                     </div>
                     <div id="ace-nav-tools" class="hidden">
                        <span class="ace-icon ace-icon-dots-three-horizontal"></span>
                        <button id="ace-nav-arrow" class="clear-btn">
                        <span class="ace-icon ace-icon-chevron-thin-down"></span>
                        </button>
                     </div>
                  </div>
                  <div class="ace-nav-btm"></div>
               </div>