<div class="ui page grid" style="margin-top: 14vh;">
  <% if(showWebexComponents){ %>
  <div class="six wide column">
    <div class="ui raised padded segment">
      <div style="display:inline-block;">
        <span
          class="fas fa-file-alt"
          style="font-size:80px; color: #2185d0;padding-right: 30px;"
        ></span>
      </div>
      <div style="display:inline-block; vertical-align: top;">
        <h3>Reports Management</h3>
        <div><a href="/reports/call_status">Call Status Reports</a></div>
        <div>
          <a href="/reports/hold_resume">Call Hold and Resume Reports</a>
        </div>
        <div>
          <a href="/reports/unattended_transfer">Unattended Transfer Reports</a>
          <span class="ui left pointing red label">New!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="six wide column">
    <div class="ui raised padded segment">
      <div style="display:inline-block;">
        <span
          class="fas fa-tasks"
          style="font-size:80px; color: #2185d0;padding-right: 30px;"
        ></span>
      </div>
      <div style="display:inline-block; vertical-align: top;">
        <h3>Task Management</h3>
        <div><a href="/tasks/admin_tasks">List My Tasks</a></div>
        <div><a href="/tasks/create_task">Task Scheduler</a></div>
        <div><br /></div>
      </div>
    </div>
  </div>
  <div class="six wide column">
    <div class="ui raised padded segment">
      <div style="display:inline-block;">
        <span
          class="fas fa-network-wired"
          style="font-size:80px; color: #2185d0;padding-right: 30px;"
        ></span>
      </div>
      <div style="display:inline-block; vertical-align: top;">
        <h3>Devices Management</h3>
        <div><a href="/settings/admin_devices">Manage Existing Devices</a></div>
        <div><a href="/settings/add_device">Add A Device</a></div>
        <div><br /></div>
      </div>
    </div>
  </div>
  <% } %>
  <% if(showAdminComponents){ %>
  <div class="six wide column">
    <div class="ui raised padded segment">
      <div style="display:inline-block;">
        <span
          class="fas fa-users"
          style="font-size:80px; color: #2185d0;padding-right: 30px;"
        ></span>
      </div>
      <div style="display:inline-block; vertical-align: top;">
        <h3>User Management</h3>
        <div><a class="item" href="/users/admin">Manage Existing User</a></div>
        <div><a class="item" href="/users/register">Add New User</a></div>
        <div><br /></div>
      </div>
    </div>
  </div>
  <% } %>
</div>
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"
></script>
<script>
  var showAdminComponents = '<%= showAdminComponents %>' === 'true'
  var showWebexComponents = '<%= showWebexComponents %>' === 'true'
  var showPurecloudComponents = '<%= showPurecloudComponents %>' === 'true'

  localStorage.setItem('showAdminComponents', showAdminComponents)
  localStorage.setItem('showWebexComponents', showWebexComponents)
  localStorage.setItem('showPurecloudComponents', showPurecloudComponents)

  if (!showAdminComponents) $('#admin_menu').hide()
  else $('#admin_menu').show()

  if (!showWebexComponents) $('#webex_menu').hide()
  else $('#webex_menu').show()

  if (!showPurecloudComponents) $('#pourcloud_menu').hide()
  else $('#pourcloud_menu').show()
</script>
