<div class="ui grid" style="margin-left:30px; margin-top: 50px;">
  <div class="six wide column">
    <div class="ui raised padded segment">
      <div style="display:inline-block;">
        <span
          class="fas fa-file-alt"
          style="font-size:80px; color: #2185d0;padding-right: 30px;"
        ></span>
      </div>
      <div style="display:inline-block; vertical-align: top;">
        <h3>Reports Management</h3>
        <div><a href="/reports/call_status">Call Status Reports</a></div>
        <div>
          <a href="/reports/hold_resume">Call Hold and Resume Reports</a>
        </div>
        <div>
          <a href="/reports/unattended_transfer">Unattended Transfer Reports</a>
          <span class="ui left pointing red label">New!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="six wide column">
    <div class="ui raised padded segment">
      <div style="display:inline-block;">
        <span
          class="fas fa-tasks"
          style="font-size:80px; color: #2185d0;padding-right: 30px;"
        ></span>
      </div>
      <div style="display:inline-block; vertical-align: top;">
        <h3>Task Management</h3>
        <div><a href="/tasks">Task Scheduler</a></div>
        <div><a href="#">List My Tasks</a></div>
        <div><br /></div>
      </div>
    </div>
  </div>
  <div class="six wide column">
    <div class="ui raised padded segment">
      <div style="display:inline-block;">
        <span
          class="fas fa-network-wired"
          style="font-size:80px; color: #2185d0;padding-right: 30px;"
        ></span>
      </div>
      <div style="display:inline-block; vertical-align: top;">
        <h3>Devices Management</h3>
        <div><a href="/settings/add_devices">Add Device(s)</a></div>
        <div><a href="/settings/list_devices">List My Devices</a></div>
        <div><br /></div>
      </div>
    </div>
  </div>
  <div class="six wide column">
    <div class="ui raised padded segment">
      <div style="display:inline-block;">
        <span
          class="fas fa-users"
          style="font-size:80px; color: #2185d0;padding-right: 30px;"
        ></span>
      </div>
      <div style="display:inline-block; vertical-align: top;">
        <h3>User Management</h3>
        <div><a class="item" href="/users/admin">Manage Existing User</a></div>
        <div><a class="item" href="/users/register">Add New User</a></div>
        <div><br /></div>
      </div>
    </div>
  </div>
</div>
