<% include ./partials/header_without_navbar %>
<div class="row mt-5">
  <div class="col-md-12 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Dashboard</h1>
      <table>
        <tr>
          <td style="font-size:20px;">
           <a href="/reports">
              <span class="fas fa-file-alt" style="color:#75b73b"></span>
              <span>Testing Reports</span>
           </a>
          </td>
          <td style="font-size:20px;">
            <a href="/tasks">
              <span class="fas fa-tasks" style="color:#75b73b"></span>
              <span>Tasks Scheduler</span>
            </a>
          </td>
          <td style="font-size:20px;">
           <a href="/settings/devices">
            <span class="fas fa-desktop" style="color:#75b73b"></span>
            <span>Devices for Testings</span>
           </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% include ./partials/sidebar %>
<% include ./partials/triangle %><!-- .ace-wrapper -->
</body>
</html>
