<% include ./partials/header %>
    <h1><%= title %></h1>
    <p>Report id <%= reportId%> has been sent to you.</p>
    <% include ./partials/sidebar %>
    <% include ./partials/triangle %>
  </div>
  </body>
</html>



