<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- semantic ui -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
      <link
      rel="stylesheet"
      href="/stylesheets/style.css"
    />
    <link
      href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Webex Call Testing</title>
  </head>
  <body>
    <div class="ui visible inverted left vertical borderless sidebar menu">
      <div class="ui accordion inverted">
        <div
          class="title item"
          style="padding-left:15px; font-size: 1.2rem; border-bottom: solid 1px #333333"
        >
          <a href="/">
            <img
              class="ui avatar image"
              src="/images/avatar-01.jpg"
              alt="logo"
            />
            Webex Call Testing</a
          >
        </div>
        <div id="webex_menu">
          <div class="title item" style="padding-left:15px;">
            <i class="ion-ios-world titleIcon icon"></i>
            <i class="dropdown icon"></i> Reports Management
          </div>
          <div class="icon content">
            <a class="item" href="/reports/call_status">Call Status Reports</a>
            <a class="item" href="/reports/hold_resume"
              >Call Hold and Resume Reports</a
            >
            <a class="item" href="/reports/unattended_transfer"
              >Unattended Transfer Reports</a
            >
          </div>
          <div class="title item" style="padding-left:15px;">
            <i class="ion-ios-world titleIcon  icon"></i>
            <i class="dropdown icon"></i> Task Management
          </div>
          <div class="content">
            <a class="item" href="/tasks/admin_tasks">Manage Existing Tasks</a>
            <a class="item" href="/tasks/create">Create New Task</a>
          </div>
          <div class="title item" style="padding-left:15px;">
            <i class="ion-ios-world titleIcon  icon"></i>
            <i class="dropdown icon"></i> Devices Management
          </div>
          <div class="content">
            <a class="item" href="/devices/admin_devices"
              >Manage Existing Devices</a
            >
            <a class="item" href="/devices/add_device">Add A Device</a>
          </div>
        </div>
        <div id="admin_menu">
          <div class="title item" style="padding-left:15px;">
            <i class="ion-ios-world titleIcon  icon"></i>
            <i class="dropdown icon"></i> User Management
          </div>
          <div class="content">
            <a class="item" href="/users/admin">Manage Existing User</a>
            <a class="item" href="/users/register">Add New User</a>
          </div>
        </div>
        <div>
          <div class="content" style="margin-top: -5px;">
            <a class="item" href="#">Help</a>
          </div>
          <div class="content" style="margin-top: -10px;">
            <a class="item" href="#">About</a>
          </div>
        </div>
        <div style="border-top: solid 1px #333333; font-size: 0.8rem;">
          <div class="content">
            <a class="item" href="#">Version Number: Beta 0.1.0</a>
          </div>
        </div>
      </div>
    </div>
    <div class="pusher">
      <!--navbar starts-->
      <div class="ui menu icon inverted blue borderless grid">
        <div class="right menu colhidden" style="margin-right: 20vw;">
          <div class="ui dropdown item labeled icon">
            <i class="bell icon"></i>
            <div class="ui red label mini circular">6</div>
          </div>
          <div class="ui dropdown item">
            Language <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item"><i class="united kingdom flag"></i>English</a>
              <a class="item"><i class="turkey flag"></i>Turkish</a>
              <a class="item"><i class="spain flag"></i>Spanish</a>
            </div>
          </div>
          <div class="ui dropdown item">
            <img
              class="ui mini circular image"
              src="http://yellowred.info/stagb/img/avatar/people/Hershell.png"
              alt="label-image"
            />
            <div class="menu">
              <a class="item" href="/users/edit">User Profile</a>
              <div class="ui divider"></div>
              <a class="item">Need Help?</a>
              <a class="item" href="/users/logout">Sign Out</a>
            </div>
          </div>
        </div>
      </div>
      <!--navbar ends-->
      <div style="padding-top: 2vh; height:90vh"><%- body %></div>
    </div>
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"
    ></script>
    <!-- socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <!-- semantic ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>
    <script src="/javascripts/site.js"></script>
  </body>
</html>
