<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- semantic ui -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Pinnacle</title>
  </head>
  <body>
    <div class="ui visible inverted left vertical borderless sidebar menu">
      <div class="ui accordion inverted">
        <div class="title item" style="padding-left:15px;">
          <a href="/">
            <img
              class="ui avatar image"
              src="/images/avatar-01.jpg"
              alt="logo"
            />
            Pinnacle Call Testing</a
          >
        </div>
        <div id="webex_menu">
          <div class="title item" style="padding-left:15px;">
            <i class="ion-ios-world titleIcon icon"></i>
            <i class="dropdown icon"></i> Reports Management
          </div>
          <div class="icon content">
            <a class="item" href="/reports/call_status">Call Status Reports</a>
            <a class="item" href="/reports/hold_resume"
              >Call Hold and Resume Reports</a
            >
            <a class="item" href="/reports/unattended_transfer"
              >Unattended Transfer Reports</a
            >
          </div>
          <div class="title item" style="padding-left:15px;">
            <i class="ion-ios-world titleIcon  icon"></i>
            <i class="dropdown icon"></i> Task Management
          </div>
          <div class="content">
            <a class="item" href="/tasks">Task Scheduler</a>
            <a class="item" href="#">List My Tasks</a>
          </div>
          <div class="title item" style="padding-left:15px;">
            <i class="ion-ios-world titleIcon  icon"></i>
            <i class="dropdown icon"></i> Devices Management
          </div>
          <div class="content">
            <a class="item" href="/settings/add_devices">Add Device(s)</a>
            <a class="item" href="/settings/list_devices">List My Devices</a>
          </div>
        </div>
        <div id="admin_menu">
          <div class="title item" style="padding-left:15px;">
            <i class="ion-ios-world titleIcon  icon"></i>
            <i class="dropdown icon"></i> User Management
          </div>
          <div class="content">
            <a class="item" href="/users/admin">Manage Existing User</a>
            <a class="item" href="/users/register">Add New User</a>
          </div>
        </div>
      </div>
    </div>
    <div class="pusher">
      <!--navbar starts-->
      <div class="ui menu icon inverted blue borderless grid">
        <div class="right menu colhidden" style="margin-right: 10vw;">
          <div class="ui dropdown item labeled icon">
            <i class="bell icon"></i>
            <div class="ui red label mini circular">6</div>
          </div>
          <div class="ui dropdown item">
            Language <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item"><i class="united kingdom flag"></i>English</a>
              <a class="item"><i class="turkey flag"></i>Turkish</a>
              <a class="item"><i class="spain flag"></i>Spanish</a>
            </div>
          </div>
          <div class="ui dropdown item">
            <img
              class="ui mini circular image"
              src="http://yellowred.info/stagb/img/avatar/people/enid.png"
              alt="label-image"
            />
            <div class="menu">
              <a class="item" href="/users/edit">User Profile</a>
              <div class="ui divider"></div>
              <a class="item">Need Help?</a>
              <a class="item" href="/users/logout">Sign Out</a>
            </div>
          </div>
        </div>
      </div>
      <!--navbar ends-->
      <div style="padding-top: 2vh; height:90vh"><%- body %></div>
    </div>
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"
    ></script>
    <!-- semantic ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>
    <script>
      $(document).ready(function() {
        // left sidebar nav
        $('.accordion').accordion({
          selector: {
            trigger: '.title .icon'
          }
        })

        $('table').tablesort()

        $('.menu .item').tab()

        $('.ui.dropdown').dropdown()

        $('form.delete_user').submit(function(event) {
          event.preventDefault()
          $('.ui.basic.modal')
            .modal({
              onDeny: function() {},
              onApprove: function() {
                var userId = event.target.name
                $.post('/users/delete', { userId: userId }, function(
                  data,
                  status
                ) {
                  if (status === 'success') {
                    location.reload()
                  }
                })
              }
            })
            .modal('show')
        })
      })

      var showAdminComponents = localStorage.getItem('showAdminComponents')
      var showWebexComponents = localStorage.getItem('showWebexComponents')
      var showPurecloudComponents = localStorage.getItem(
        'showPurecloudComponents'
      )

      showAdminComponents = showAdminComponents === 'true'
      showWebexComponents = showWebexComponents === 'true'
      showPurecloudComponents = showPurecloudComponents === 'true'

      console.log(
        'layout',
        showAdminComponents,
        showWebexComponents,
        showPurecloudComponents
      )

      if (!showAdminComponents) $('#admin_menu').hide()
      else $('#admin_menu').show()

      if (!showWebexComponents) $('#webex_menu').hide()
      else $('#webex_menu').show()

      if (!showPurecloudComponents) $('#pourcloud_menu').hide()
      else $('#pourcloud_menu').show()
    </script>
  </body>
</html>
