<% include ./partials/header %>
<div class="ace-paper-stock">
   <main class="ace-paper clearfix">
      <div class="ace-paper-cont clear-mrg">
         <!-- START: PAGE CONTENT -->
         <div class="padd-box clear-mrg">
            <section class="section brd-btm">
               <div class="row">
                  <div class="col-sm-12 clear-mrg text-box">
                     <h2 class="title-lg text-upper">General Information</h2>
                     <p><b>Helo, I’m Ola Lowe!</b><br>
                        Logo or your Company Name, unless of course you are Microsoft or the Yellow Pages online directorye core of
                        your marketing, the central theme around your products and services.
                        Your brand is not your Logo or your Company Name, unless of course you are Microsoft or the Yellow Pages
                        online directory.
                     </p>
                     <p class="text-right">
                        <img src="/images/uploads/signature.png" alt="">
                     </p>
                  </div>
               </div>
            </section>
            <!-- .section -->
            <section class="section brd-btm">
               <h2 class="title-thin text-muted"></h2>
               <div class="row">
                  <div class="col-sm-6 clear-mrg" style="padding-bottom: 60px;">
                     <a href="/reports/call_status">
                        <div style="text-align:center;margin-bottom: 10px;">Call Status Reports</div>
                        <div style="text-align:center"><img src="/images/call_status.png"></div>
                     </a>
                  </div>
                   <!-- .col-sm-6 -->   
                  <div class="col-sm-6 clear-mrg" style="padding-bottom: 60px;">
                     <a href="/reports/hold_resume">
                        <div style="text-align:center; margin-bottom: 10px;">Hold and Resume Reports</div>
                        <div style="text-align:center"><img src="/images/call_hold.png"></div>
                     </a>
                  </div>
                  <!-- .col-sm-6 -->                
               </div>
               <!-- .row -->
            </section>
            <!-- .section -->
         </div>
         <!-- .padd-box -->
         <!-- END: PAGE CONTENT -->
      </div>
      <!-- .ace-paper-cont -->
   </main>
   <!-- .ace-paper -->
</div>
<!-- .ace-paper-stock -->
</div><!-- .ace-container -->
</div><!-- #ace-content -->
<% include ./partials/sidebar %>
<% include ./partials/triangle %>
</div><!-- .ace-wrapper -->
<script>
</script>
</body>
</html>